body {
    font-family: sans-serif;
    background: #ffeef4;
    padding: 20px;
}

.container {
    max-width: 550px;
    margin: auto;
}

.card, .summary {
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #00000020;
}

h2 {
    text-align: center;
    color: #ff4fa3;
}

label {
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.disabled {
    background: #f3f3f3;
}

textarea {
    height: 80px;
}

.resp-box label,
.terms label {
    display: block;
    margin-bottom: 6px;
}

.submit-btn, .print-btn, .img-btn {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.submit-btn {
    background: #ff4fa3;
    color: white;
}

.print-btn {
    background: #ff72b6;
    color: white;
}

.img-btn {
    background: #ffb1d9;
    color: white;
}

#summaryPage {
    display: none;
}

/* ปุ่มสองอันอยู่ข้างกัน */
.btn-group {
    display: flex;
    gap: 10px;
}